#personalSVG{
    max-width: 500px;
}

i{
    vertical-align: bottom;
}

#introBanner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}