.app-container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.app-content{
	flex: 1;
}

#stickyFooter{
	width: 100%;
	background: rgba(0,0,0,.5);
	p{
		overflow-wrap: break-word;
	}
}